<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table , th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Username</th>
            <td>
                <form method="get"  action="/user/new">
                <button>Create New</button>
            </form>
            </td>
        </tr>
        <% for(user of users) { %>
        <tr>
            <!-- <td>123</td>
            <td>abc@gmail.com</td>
            <td>abc</td> -->
            <td><%= user.id%> </td>
            <td><%= user.email%> </td>
            <td><%= user.username%> </td>
            <td>
            <form method="get" action="/user/<%=user.id%>/edit">
                <button>Edit username</button>
            </form>     
        </td>
        <td>
            <form method="get" action="/user/<%=user.id%>/delete">
                <button>DELETE USER</button>
            </form>
        </td>
        </tr>
            <%} %>
    </table>
</body>
</html>